.formList {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: none;
  counter-reset: item-form;

  @media (width >= 1024px) {
    gap: 30px;
  }

  .item-form {
    counter-increment: item-form;
    display: flex;
    align-items: center;
    gap: 10px;

    @media (width >= 1024px) {
      gap: 22px;
    }

    p {
        margin-block: 4px;
        line-height: 2;
        font-size: 19px;
        font-weight: 600;

      @media (width >= 1024px) {
        font-size: 38px;
        margin-block: 0;
        max-height: 75px;
        letter-spacing: -0.1187rem;
      }
    }
  }

  .item-form::before {
    content: counter(item-form) ".";
    background: linear-gradient(145.08deg, #E61726 12.35%, #D4208C 83.63%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 33px;
    font-weight: 800;
    line-height: 1;

    @media (width >= 1024px) {
      font-size: 55px;
    }
  }
}



