/* stylelint-disable */
@import "formList/formList.scss";
@import "popup/popup.scss";
/* stylelint-enable */

body {
  font-family: 'Open Sans', serif;
  line-height: 1;
  letter-spacing: -0.05em;
  height: 100vh;
}